<div class="messageContainer">
  <div *ngIf="!isPresentation">
    <app-header></app-header>
    <div class="messages">
      <!-- New Factory Pattern messages -->
      <div *ngFor="let message of messages$ | async" class="factory-message">
        <app-message-container [messageData]="message"></app-message-container>
      </div>
    </div>
    <!--
    -->
    <app-bar></app-bar> 
    <!--define a footer with margin to respect the bar size-->
    <div class="footer"></div>
  </div>
  <div *ngIf="isPresentation">
    <app-presentation></app-presentation>
  </div>
</div>