*{
    margin: 0;
    padding: 0;
    
}
.messages{
    display: block;
    width: 100%;
    height: 85%;
    position: absolute;
    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
}

.factory-message {
    margin: 8px 0;
    width: 100%;
}

.footer{
    display: flex;
    background: rgba(217, 221, 245, 0.589);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    width: 100%;
    position: fixed;
    bottom: 0rem;
}